{% extends "inicio/encabezado.html" %}

{% block titulo %} Editar {% endblock %}

{% block encabezado %}

<!--Encabezdo -->
<div>
    <div  class="contenido_eliminar">
        <h3>EDITAR ARTESANIA</h3>
    </div>

</div>
<!-- /Encabezado-->


{% endblock %}

{% block contenido %}

<!-- Formulario -->

<div>
    <form class="form" action="{% url 'ActualizarArtesania' artesania.id %}" method="POST" role="form">
        {%csrf_token%}
        <div class="form_container">
            <div class="form_group">
                <input value="{{artesania.artesania}}" name="artesania" type="text" class="form_input">
                <label class="form_label" >Nombre: </label>
            </div>
    
            <div class="form_group">
                <textarea type="text" class="form_input" name="opinion">{{artesania.opinion}}</textarea>
                <label class="form_label">Opinión: </label>
            </div>
          <input type="submit" class="botton_artesanias" value="Editar">
        </div>
    </form>
</div>
 

{% endblock %}