{% extends "inicio/encabezado.html"%}

{% block titulo%} Principal {%endblock%}

{% block contenido %}

    <div class="card">
        <p class="parrafo1">Descubre cuáles son las artesanías más famosas de Michoacán</p>
        <div class="grid">
            <div>
                <h2>Arte y cultura</h2>
                <p class="parrafo2">Uno de los estados de la República Mexicana que tiene más oferta
                    histórica, cultural, artística y gastronómica es Michocacán. De
                    hecho, uno de los principales atractivos son las artesanías que 
                    reflejan parte de la historia y antepasados de este lugar.</p>
            </div>
            <div>
                <h2 >Artesanías de barro</h2>
                <p class="parrafo2">Las “piñas” son artesanías elaboradas de barro policromado, bruñido, vidriado o alisado.
                    Originalmente, se crearon en Patamban por artistas purépechas, pero hay una familia en San José de Gracia que heredó el conocimiento
                    y la manera correcta de realizar este trabajo artístico y que está poniendo en alto el nombre de México con la elaboración 
                    de este bello arte.</p>
            </div>
            <div>
                <h2>Guitarras de Paracho</h2>
                <p class="parrafo2">Las guitarras de Paracho tienen algo muy especial: el cedro mexicano.
                    La madera de este árbol es única en el mundo, de hecho su sonido es tan especial que por eso es el material favorito 
                    para las guitarras de los mariachis.
                    Se dice que muchos músicos reconocidos han viajado a Paracho con el propósito de comprar estas guitarras tan especiales, 
                    pues hay para todo tipo de género, como para concertistas, clásicos, excéntricos, por mencionar algunos.
                    Actualmente en Paracho hay cerca de 150 constructores de guitarras</p>
            </div>
            <div>
                <h2>Cobre</h2>
                <p class="parrafo2">Otra de las artesanías más tradicionales de Michoacán es el cobre, de hecho en Santa María del Cobre están los 
                    talleres más especializados en crear las mejores piezas de este material.
                    El cobre es tan importante en este estado que las tradicionales carnitas son elaboradas en este tipo de utensilio.</p>
            </div>
        </div>
        <h2>Madera tallada</h2>
        <p class="parrafo2">Los talleres más famosos de madera tallada de Michoacán se encuentran en Cuanajo, Zitácuaro, Opopeo y Pichátaro.
            Todas las piezas que se elaboran en estos municipios se venden en los mercados más famosos de artesanías son de madera de la región, 
            están tallados a mano. Se pueden encontrar desde adornos para el hogar, utensilios de cocina, muebles y mucho más.</p>
    </div>
{%endblock%}